source https://api.nuget.org/v3/index.json
source https://www.nuget.org/api/v2

nuget ExtCore
nuget FSharp.Quotations.Evaluator
nuget Suave 2.0.0-rc2
nuget ServiceStack.OrmLite.MySql
nuget ExifLib
nuget Newtonsoft.Json

nuget xunit
nuget xunit.core
nuget xunit.assert version_in_path: true
nuget xunit.runner.console
nuget xunit.runner.visualstudio version_in_path: true

nuget FsUnit.xUnit
nuget canopy

nuget Fake

nuget SourceLink.Fake
nuget FSharp.Formatting

github fsharp/FAKE modules/Octokit/Octokit.fsx
