source https://nuget.org/api/v2

nuget Suave
nuget FsPickler
nuget FsPickler.Json
nuget FSharp.Data
nuget ServiceStack.OrmLite
nuget ServiceStack.OrmLite.Sqlite.Mono

nuget NUnit
nuget NUnit.Runners
nuget FsUnit
nuget canopy

nuget Fake
