source https://nuget.org/api/v2

nuget ExtCore
nuget FSharp.Quotations.Evaluator
nuget Suave
nuget FsPickler.Json
nuget FSharp.Data
nuget ServiceStack.OrmLite.MySql
nuget ExifLib

nuget NUnit.Runners
nuget xUnit
nuget xUnit.runner.console
nuget FsUnit
nuget FsUnit.xUnit
nuget canopy
nuget Foq

nuget Fake

nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx
